<div class="col-lg-3">
    <div class="service-item second-service">
      <div class="icon"></div>
      <h4>Swiggy Food Order</h4>
      <p>Order food online for home delivery. Experience fastest food delivery service with no minimum order & GPS tracking.</p>
      <div class="text-button" >
        <a href="https://cashkaro.com/blog/how-to-order-on-swiggy/102951" target="_blank" rel="noopener noreferrer">Get Description <i class="fa fa-arrow-right"></i></a></br>
        <a href="/video/<%=2%>">Get Video tutorial <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="service-item second-service2">
      <div class="icon"></div>
      <h4>Zomato</h4>
      <p>Order food online in Hyderabad.What's your food mood today? Delicious biryani or crispy dosas, pizza or burgers, Indian sweets or cakes, chai or coffee?</p>
      <div class="text-button" >
        <a href="https://www.sirhow.com/order-food-on-zomato/" target="_blank" rel="noopener noreferrer">Get Description <i class="fa fa-arrow-right"></i></a></br>
        <a href="/video/<%=3%>">Get Video tutorial <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>