<div class="col-lg-3">
    <div class="service-item third-service">
      <div class="icon"></div>
      <h4>Google Pay</h4>
      <p>Google Pay is a quick, easy, and secure way to pay online, in stores or send money to friends and family. Pay the Google way.</p>
      <div class="text-button">
        <a href="https://www.wikihow.com/Pay-with-Google-Pay-Online" target="_blank" rel="noopener noreferrer">Get Description <i class="fa fa-arrow-right"></i></a></br>
        <a href="/video/<%=4%>">Get Video tutorial <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="service-item third-service2">
      <div class="icon"></div>
      <h4>Paytm</h4>
      <p>Paytm stands for Pay through mobile and it is India's largest mobile payments and commerce platform.Recharge & pay bills, book flights & movie tickets and do a lot more.</p>
      <div class="text-button">
        <a href="https://paytm.com/blog/paytm-help/how-to-send-money-using-paytm/" target="_blank" rel="noopener noreferrer">Get Description <i class="fa fa-arrow-right"></i></a></br>
        <a href="/video/<%=5%>">Get Video tutorial <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>