<div class="col-lg-3">
            
    <div class="service-item first-service" style="font-size: <%= fontSize %>;">
      
      <div class="icon"></div>
      <h4>Amazon Shopping</h4>
      <p>Explore Your One-Stop-Shop For All Your Requirements. Shop Online Today!</p>
      <div class="text-button">
        <a href="https://www.aboutamazon.com/news/retail/best-amazon-shopping-tips" target="_blank" rel="noopener noreferrer">Get Description <i class="fa fa-arrow-right"></i></a></br>
        <a href="/video/<%=0%>">Get Video tutorial <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>  

  <div class="col-lg-3">
            
    <div class="service-item first-service2" style="font-size: <%= fontSize %>;">
      
      <div class="icon"></div>
      <h4>Flipkart Shopping</h4>
      <p>The One-stop Shopping Destination. Flipkart brings you the joys of shopping online in your own language, with discounts on quality assured products, and extra SuperCoins with every purchase. </p>
      <div class="text-button">
        <a href="https://stories.flipkart.com/started-flipkart-mobile-app/" target="_blank" rel="noopener noreferrer">Get Description <i class="fa fa-arrow-right"></i></a></br>
        <a href="/video/<%=1%>">Get Video tutorial <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>  