<div class="col-lg-3">
    <div class="service-item fourth-service">
      <div class="icon"></div>
      <h4>Uber</h4>
      <p>Book an Uber ride using your web browser on your desktop or phone. Taxi is the newest way to get a ride with Uber. </p>
      <div class="text-button">
        <a href="https://www.wikihow.com/Use-Uber" target="_blank" rel="noopener noreferrer">Get Description <i class="fa fa-arrow-right"></i></a></br>
        <a href="/video/<%=6%>">Get Video tutorial <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
 <div class="col-lg-3">
  <div class="service-item fourth-service2">
    <div class="icon"></div>
    <h4>IRCTC</h4>
    <p>IRCTC Next Generation eTicketing System. IRCTC Tourism provides affordable Domestic and International Tour packages. </p>
    <div class="text-button">
      <a href="https://scroll.in/announcements/933210/how-to-book-e-tickets-on-irctc-step-by-step-easy-guide" target="_blank" rel="noopener noreferrer">Get Description <i class="fa fa-arrow-right"></i></a></br>
      <a href="/video/<%=7%>">Get Video tutorial <i class="fa fa-arrow-right"></i></a>
    </div>
  </div>
</div>
